<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDB"
			 connectionString="Server=LAPTOP-79S96USJ\MSSQLSERVER2022;Database=QLPT_Local;User ID=sa;Password=1234567;Trust Server Certificate=True;Persist Security Info=True;Encrypt=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>