<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDB"
			 connectionString="Data Source=database-1.cxcm0uk2un5e.ap-southeast-2.rds.amazonaws.com,1433;
                           Initial Catalog=QLPT;
                           User ID=admin;
                           Password=6251071045;
                           Encrypt=False;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>